pipeline/Copy_ADLS_to_ADLS.json
{
	"name": "Copy_ADLS_to_ADLS",
	"properties": {
		"description": "1. Validate existence of the file\n2. Check Metadata (Columns, data type)\n3. Delete once file is loaded",
		"activities": [
			{
				"name": "DB to ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NameStyle",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PasswordHash",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PasswordHash",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PasswordSalt",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PasswordSalt",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_db_customers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_customers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Validate existence of the file in datalake",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_customers",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:30",
					"sleep": 5,
					"childItems": true
				}
			},
			{
				"name": "Check metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validate existence of the file in datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_customers",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check columns",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}